// 讓所有 pre/code 自動換行
pre, code {
  white-space: pre-wrap !important;
  word-break: break-word;
  overflow-wrap: break-word;
}

// 適用於提示區塊（.notice 類別）
.notice,
.notice--danger,
.notice--info,
.notice--warning {
  word-break: break-word;
  white-space: normal;
}


.copy-code-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px 10px;
  background: #007acc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div.highlighter-rouge {
  position: relative;
}
